# Ignore transient system files
local/share/recently-used.xbel
local/share/user-places.xbel*
local/share/sddm/*.log
local/share/baloo/
local/share/Trash/
local/share/hyprland/lastNag
local/share/hyprland/lastVersion
**/*.log
**/*.xbel*
local/share/pki/
local/share/icons/
local/share/applications/mimeapps.list
local/share/dolphin/view_properties/
local/share/flatpak/db
local/share/vlc/
.config/hypr/.wallpaper_state

# Ignore binaries and libraries
local/bin/
local/lib/
local/share/remmina/

# Ignore media folders
home/Photos/
home/Pictures/
